* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom right, blue, pink);
}

.meme__picture {
  width: 70vw;
  margin: 4% 0;
  text-align: center;
border-radius: 1rem;
}

.meme__name {
  font-size: large;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 70vw;
}

.item__meme {
  display: flex;
  flex-direction: column;
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

/*******/


#meme1:checked ~ .item__meme1 {
  transform: translate(0);
}

#meme2:checked ~ .item__meme2 {
  transform: translate(-100%);
}

#meme3:checked ~ .item__meme3 {
  transform: translate(-100%);
}

#meme4:checked ~ .item__meme4 {
  transform: translate(-100%);
}

